@{
    ViewData["Title"] = "Home";
   
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to ChillTech Innovators Fridge Management System</h1>
    <p class="lead">Efficiently manage your fridges, schedule maintenance, and troubleshoot any issues.</p>
    <hr class="my-4">
    <p>Select your role to proceed:</p>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg" href="/Technician/UpcomingVisits" role="button">Technician Portal</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-secondary btn-lg" href="/Customer/Tips" role="button">Customer Portal</a>
        </div>
    </div>
</div>
