@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to ChillTech Innovators Fridge Management System</h1>
    <p class="lead">Efficiently manage your fridges, schedule maintenance, and troubleshoot any issues.</p>
    <hr class="my-4">
</div>
