@{
    ViewData["Title"] = ViewData["Title"] ?? "Welcome";

    var pageTitle = ViewData["PageTitle"] ?? "Welcome to ChillTech Innovators";

    var pageMessage = ViewData["PageMessage"] ?? "Please select your role to proceed.";
}

<div class="jumbotron text-center">
    <h1 class="display-4">@pageTitle</h1>
    <p class="lead">Efficiently manage your fridges, schedule maintenance, and troubleshoot any issues.</p>
    <hr class="my-4">
    <p>@pageMessage</p>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg" href="/Technician/TechnicianDashboard" role="button">Technician Portal</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-secondary btn-lg" href="/Customer/CustomerDashboard" role="button">Customer Portal</a>
        </div>
    </div>
</div>
