@{
    ViewData["Title"] = "Customer Dashboard";
    
}

<div class="container mt-5">
    <h2>Customer Dashboard</h2>
    <p>Welcome to the Customer Portal. Select an option below:</p>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-block" href="/Customer/MyFridges" role="button">My Fridges</a>
            <a class="btn btn-secondary btn-lg btn-block mt-2" href="/Customer/UpcomingVisits" role="button">Upcoming Visits</a>
            <a class="btn btn-info btn-lg btn-block mt-2" href="/Customer/MaintenanceHistory" role="button">Maintenance History</a>
            <a class="btn btn-warning btn-lg btn-block mt-2" href="/Customer/ReportFault" role="button">Report Fault</a>
            <a class="btn btn-success btn-lg btn-block mt-2" href="/Customer/Tips" role="button">Maintenance Tips</a>
            <a class="btn btn-danger btn-lg btn-block mt-2" href="/Customer/Troubleshooting" role="button">Troubleshooting</a>
        </div>
    </div>
</div>
