@model FridgeManagementSystem.ViewModels.CustomerDashboardViewModel
@using FridgeManagementSystem.ViewModels
<h2>Customer Dashboard</h2>

@if (Model.CustomerId != null)

{

    
    <p>Customer ID: @Model.CustomerId</p>
}