@{
    ViewData["Title"] = "Technician Dashboard";

}

   
<div class="container mt-5">
    <h2>Technician Dashboard</h2>
    <p>Welcome to the Technician Portal. Select an option below:</p>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-block" href="/Technician/UpcomingVisits" role="button">Upcoming Visits</a>
            <a class="btn btn-secondary btn-lg btn-block mt-2" href="/Technician/MaintenanceHistory" role="button">Maintenance History</a>
            <a class="btn btn-info btn-lg btn-block mt-2" href="/Technician/TechnicianFridges" role="button">My Fridges</a>
            <a class="btn btn-warning btn-lg btn-block mt-2" href="/Technician/ReportFault" role="button">Report Fault</a>
        </div>
    </div>
</div>
