@model FridgeManagementSystem.ViewModels.TechnicianDashboardViewModel

@using FridgeManagementSystem.ViewModels
<h2>Technician Dashboard</h2>

<p>Technician ID: @Model.TechId</p>
<p>Technician Name: @Model.TechName</p>